ion-content {
    --background: #FFE599;
}

ion-card-content{
    margin-left: 25px;
    margin-right: 25px;
}

ion-card{
    padding-bottom: 10px;

}

ion-button{
    text-transform: initial;
}

.isActive {
    color: red;
  }