<meta name='viewport' content='width=device-width, initial-scale=1'>
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-button (click)="discardAlert()">
        <ion-icon name="arrow-back" style="zoom:1.0;"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="TP()" class="edit">Terms & Policies</ion-button>
  </ion-buttons>
  </ion-toolbar>
  </ion-header>

<ion-content full-screen>
<div class="background-pict">
 
    <ion-card >
      <ion-toolbar>
        <ion-tabs>
          <ion-tab-bar slot="bottom" >    
            <ion-tab-button class="profile" (click)="editProfile()">
              <ion-label class="profile">Profie</ion-label>
            </ion-tab-button>
      
            <ion-tab-button class="password" (click)="editPassword()">
              <ion-label class="password">Password</ion-label>
            </ion-tab-button>
          </ion-tab-bar>
        </ion-tabs>
      </ion-toolbar>
      <ion-card-header>
        <ion-card-title><b>User Password</b></ion-card-title>
      </ion-card-header>
      <ion-card-content>
      <ion-list lines="full">
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="stacked"><b>Current Password</b></ion-label>
              <ion-input [(ngModel)]="CurrentPassword" type="password"></ion-input>
            
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="stacked"><b>New Password</b></ion-label>
              <ion-input [(ngModel)]="NewPassword" type="password"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="stacked"><b>Re-type new password</b></ion-label>
              <ion-input [(ngModel)]="RetypeNewPassword" type="password"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        
        <ion-row>
          <ion-col>
            <ion-button type="button" (click)="updatePassword()" color="primary">
              Update Password
            </ion-button>
          </ion-col>
        </ion-row>    
      </ion-list>      
      </ion-card-content>
    </ion-card>
  </div>
  
</ion-content>
