<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
    <ion-title>Recent</ion-title>
  </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon name="log-out" style="zoom:1.0;"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-row lines="none" *ngFor="let item of dataitem">
    <ion-col>
      <ion-card>
      <ion-card-header (click)="storePage(item.StoreID,item.StoreName,item.StoreAddress,item.Image,item.ContactNo,item.OpenHours,item.maximum_cust)">
        <ion-card-subtitle>Grocery Store</ion-card-subtitle>
        <ion-item lines="none" >
          <h1>{{item.StoreName}}</h1>
      
        </ion-item><br>
        <ion-row> 
          <ion-icon color="dark" name="location-outline" style="zoom:2.5;"></ion-icon>&nbsp;&nbsp;
          <ion-label color="dark"><br>  {{item.StoreAddress}}</ion-label>
        </ion-row><br>
          <ion-row>
            <ion-icon color="dark" name="log-in-outline" style="zoom:2.5;"></ion-icon>
            <ion-label color="dark"><br>&nbsp;&nbsp;<b>TIME IN:</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{item.time_in}}</ion-label>
          </ion-row><br>
          <ion-row>
            <ion-icon color="dark" name="log-out-outline" style="zoom:2.5;"></ion-icon>
            <ion-label color="dark"><br>&nbsp;&nbsp;<b>TIME OUT:</b>&nbsp;&nbsp;{{item.time_out}}</ion-label>
          </ion-row><br>
        </ion-card-header>
        
      </ion-card>
      
    


</ion-col>
</ion-row>









</ion-content>

<ion-toolbar>
  <ion-tabs>
    <ion-tab-bar slot="bottom" color="secondary">
  
      <ion-tab-button (click)="homepagePage()">
        <ion-icon name="home" style="zoom:1.0;"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="suggestedPage()">
        <ion-icon name="cart" style="zoom:1.0;"></ion-icon>
        <ion-label>Recommended</ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="recentsPage()">
        <ion-icon name="time" style="zoom:1.0;" color="light"></ion-icon>
        <ion-label>Recents</ion-label>
      </ion-tab-button>
  
     
      <ion-tab-button (click)="profilePage()">
        <ion-icon name="person" style="zoom:1.0;"></ion-icon>
        <ion-label>Profile</ion-label>
      </ion-tab-button>
  
    </ion-tab-bar>
  
    
  </ion-tabs>
  </ion-toolbar>
