<ion-content>
  
  
    <ion-card>
      <ion-card-header>
        <ion-buttons>
          <ion-button (click)="TP()">
            <ion-icon name="close" style="zoom:1.0;"></ion-icon>
          </ion-button>
        </ion-buttons><br>
        <ion-card-title>Grocery Store Recommender App Terms and Conditions
        </ion-card-title>
        <ion-card-subtitle><b>Last Updated:</b> October 25, 2021
        </ion-card-subtitle>
      </ion-card-header>

    <ion-card-content>
      <b>Agreement to Terms</b> <br>
    <p>These Terms and Conditions constitute a legally binding agreement made between you, 
      the Customer (whom we refer as “you”, “your” or the “Customer” in this application)
       concerning your access to and use of our mobile application (the Grocery Store Recommender App). 
       You agree that by accessing this Application, you have read, understood, and agree to be bound
        by all of these Terms and Conditions Use. As such, information collected from this application 
        shall be held in strict confidence and shall only be used solely for records keeping purposes.
      </p><br>
      <p>IF YOU DO NOT AGREE WITH ALL OF THESE TERMS AND CONDITIONS, 
        THEN YOU ARE EXPRESSLY PROHIBITED FROM USING THE APPLICATION AND YOU MUST DISCONTINUE USE 
        IMMEDIATELY.
        </p>
        <br>
      <p>The Application is intended for users who are at least 13 
        years of age. All users who are minors in the jurisdiction in which they reside (generally
         under the age of 18) must have the permission of, and be directly supervised by, their 
         parent or guardian to use the Application. If you are a minor, you must have your parent 
         or guardian read and agree to these Terms of Use prior to you using the Application.
        </p><br><br>
        <b>Data Policy</b> <br>
        <p>Per Section 2 (Declaration of Policy) of the Data Privacy Act of 2012, it is the policy of 
          the State to protect the fundamental human right of privacy, of communication while ensuring 
          the free flow of information to promote innovation and growth. The State recognizes the vital 
          role of information and communication technology in nation-building and its inherent obligation 
          to ensure the personal information and communications system in the government and in the private 
          sector are secured and protected.

          </p>
  </ion-card-content>
  </ion-card>
 
  
</ion-content>
