ion-content {
    --background: #FFE599;
    font-family:Arial, Helvetica, sans-serif;
    
}

.background-pict{
    height: 80vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    flex-direction: column;
    justify-content: center;
}

ion-card{
    align-items: center;
    justify-content: center;
     display: flex;
    flex-direction:column;
    justify-content: center;
    background: white;
    box-shadow: none !important;

}


ion-card-title{
    color: #1F9BFD;
}

ion-label{
    color: #1F9BFD;
}
ion-label.profile{
    color:white;
    font-size: 15px;
}
ion-label.password{
    color:black;
    font-size: 15px;
}
ion-tab-button.password{
    border-bottom:2px solid #1F9BFD;
    max-width: 100%;  
}
ion-tab-button.profile{
    background-color:#1F9BFD;
    border-bottom:2px solid #1F9BFD;
    max-width: 100%;
}

span{
    width: 30px;
    font-size: 25px;
}

ion-button{
    text-transform: initial;
    float: right;
}

